<!DOCTYPE html>
<html>
  <head>
    <title>Lighthaus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'lighthaus-bundle.js'%>
  </head>

  <%= react_component("NavBar", props: {}, prerender: false) %>

  <body>
    <%= yield %>
  </body>
</html>
